<?xml version="1.0" encoding="ISO-8859-1"?>

<taglib xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-jsptaglibrary_2_1.xsd"
   xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="${library.taglib.jspVersion}">

#if(${taglib.description})
 <description>${taglib.description}</description>
#end
#if(${taglib.displayName})
 <display-name>${taglib.displayName}</display-name>
#end
<tlib-version>${taglib.tlibVersion}</tlib-version>
#if(${taglib.shortName})
 <short-name>${taglib.shortName}</short-name>
#end
 <uri>${taglib.uri}</uri>
#if(${taglib.validatorClass})
 <validator>
 	<validator-class>${taglib.validatorClass}</validator-class>
 </validator>
#end

${content}
</taglib>